.App {
  border: 1px solid white;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 550px;
  background: linear-gradient(
    180deg,
    rgb(172, 141, 216) 0%,
    rgb(249, 227, 172) 100%
  );
}
