.WeatherForecast {
  text-align: center;
  margin: 20px 20px 0;
}

.WeatherForecast-maximum {
  font-weight: bold;
  margin-left: 5px;
}

.WeatherForecast-day {
  margin-bottom: -5px;
}

.WeatherForecast-temperature {
  margin-top: 10px;
}

@media (max-width: 550px) {
  .WeatherForecast .col {
    padding: 0;
  }
}
