.Weather h1,
p {
  text-align: center;
}

.Weather h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

.Weather p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.Weather form {
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.Weather a {
  text-decoration: none;
  color: rgb(124, 60, 170);
}

.Weather .form-control:focus {
  border-color: rgb(124, 60, 170);
  box-shadow: 0 0 0 0.25rem rgba(124, 60, 170, 0.5);
}

.Weather .temperature {
  font-size: 70px;
  margin-left: 0;
  line-height: 70px;
}

.Weather .today-weather {
  text-align: center;
  margin: 10px 0 15px;
}

.Weather canvas {
  margin-right: 8px;
  position: relative;
  top: 10px;
}

.Weather .unit {
  font-size: 18px;
  position: relative;
  top: -34px;
  line-height: 1;
}

.Weather .weather-description {
  text-transform: capitalize;
}

.Weather .btn {
  background-color: rgb(124, 60, 170);
  color: white;
  border: none;
}

.Weather .btn:hover {
  background-color: rgba(124, 60, 170, 0.5);
  border: solid 1px white;
}

.Weather .row {
  display: flex;
  justify-content: center;
}

.Weather .col {
  justify-content: space-around;
}

@media (max-width: 600px) {
  .Weather .col-3 {
    padding: 0 0 0 5px;
  }

  .Weather .col-9 {
    padding: 0 5px 0 0;
  }
}
