h1,
h2 {
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}

form {
  padding: 20px 0;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  justify-content: space-around;
}
