.Weather h1,
h2,
p {
  text-align: center;
}

.Weather h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

.Weather h2 {
  font-size: 64px;
  padding: 20px 0;
  margin: 0;
}

.Weather p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.Weather form {
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.Weather .unit {
  font-size: 18px;
  position: relative;
  top: -32px;
  margin-left: 3px;
  line-height: 1;
}

.Weather .weather-description {
  text-transform: capitalize;
}

.Weather .btn {
  background-color: rgb(124, 60, 170);
  color: white;
  border: none;
}

.Weather .btn:hover {
  background-color: rgba(124, 60, 170, 0.5);
  border: solid 1px white;
}

.Weather .row {
  display: flex;
  justify-content: center;
}

.Weather .col {
  justify-content: space-around;
}

@media (max-width: 600px) {
  .Weather .col-3 {
    padding: 0 0 0 5px;
  }

  .Weather .col-9 {
    padding: 0 5px 0 0;
  }
}
